<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
<a href ="/user-form/"type="button">Back</a>

<h2>User Information</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Contact Number</th>
    <th>Date Of Birth</th>

  </tr>
  {% for i in user %}
  <tr>
    <td>{{i.name}}</td>
    <td>{{i.email}}</td>
    <td>{{i.contact_number}}</td>
    <td>{{i.date_of_birth}}</td>

  </tr>
  {% endfor %}
  
</table>

</body>
</html>
