<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=email], input[type=number], input[type=date]  {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=email]:focus, input[type=number]:focus, input[type=date]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
</style>
    <div class="container">

    <form class="well form-horizontal" action=" " method="post"  id="contact_form">
    {% csrf_token %}
<fieldset>

<!-- Form Name -->
<legend><center><h2><b>User Form</b></h2></center></legend><br>
{% if messages %}
	<div class="alert alert-primary alert-dismissible fade show" role="alert">
	    <ul class="messages">
		{% for message in messages %}
		    <li {% if message.tags %} style="color:red"class="{{message.tags}}"{% endif %}><p style="font-size:15px;margin-top: 13px;"><b>{{ message }}</b></p></li>
		{% endfor %}
		</ul>
	</div>
{% endif %}

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label">Name</label>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input  name="name" pattern="^[a-zA-Z]+$" {% if data %} value="{{data.name}}" {% endif %}title="Special Charcerter and Numeric Not allowed" placeholder="Name" required class="form-control"  type="text">
    </div>
  </div>
</div>

       <div class="form-group">
  <label class="col-md-4 control-label">E-Mail</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
  <input name="email" placeholder="E-Mail Address"required class="form-control" {% if data %} value="{{data.email}}" {% endif %} type="email">
    </div>
  </div>
</div>


<!-- Text input-->
       
<div class="form-group">
  <label class="col-md-4 control-label">Contact No.</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
  <input name="contact_no" id="contact_no"placeholder="Contact Number" maxlength="10" {% if data %} value="{{data.contact_no}}" {% endif %} required class="form-control" type="number">
    </div>
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label">Date Of Birth</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
  <input name="dob" id="datepickers" required placeholder="Date of Birth" {% if data %} value="{{data.dob}}" {% endif %}class="form-control" type="date">
    </div>
  </div>
</div>

<!-- Select Basic -->

<!-- Success message -->

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4 "><br>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button type="submit" class="registerbtn" >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSUBMIT <span class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
  </div>
</div>

</fieldset>
</form>
</div>
    </div><!-- /.container -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
datepickers.max = new Date().toISOString().split("T")[0];
$('#contact_no').keypress(function(e){
  if($(this).val().length>10)
{
  e.preventDefault()
}
if(e.key=="e"){
    e.preventDefault()
  }
})

</script>